{%extends "base.html" %} {% import 'macros.html' as macro%} {% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/display.css')}}"
  type="text/css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
  rel="stylesheet"
/>

<div class="one">
  <h1 class="heading"> GET YOUR LATEST NEWS, UPDATES & GOSSIP </h1>
  <h1>
    Trending News <span> all around </span><br />
    the world!
  </h1>
  <p class="txt">
    If people in the media cannot decide whether they are in the business of
    reporting news or manufacturing propaganda, <br />
    it is all the more important that the public understand that difference, and
    <br />
    choose their news sources accordingly. Read more at
    https://www.brainyquote.com/topics/news-quotes
  </p>
</div>
<div class="two">
  <h1> Categories </h1>
  

  <div class="container-fluid">
    <form>
      <input
        type="text"
        name="article_query"
        placeholder="Search for News"
        class="form-control"
      />
      <input type="submit" value="Get News" class="btn" />
    </form>
    <div class="row">
      <!-- <div class="col-md-12 heading">
        <br />
        <br />
        <h1>
          News Point
            
        </h1>
      </div> -->
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-12 cat" id="general news">
          <h1>General News </h1>
        </div>
        {{macro.sourceCategories(general)}}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 cat" id="sports">
        <h1>Sports</h1>
      </div>
      {{macro.sourceCategories(sports)}}
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 cat" id="business">
        <h1>Business</h1>
      </div>
      {{macro.sourceCategories(business)}}
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 cat" id="technology">
        <h1>Technology</h1>
      </div>
      {{macro.sourceCategories(technology)}}
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 cat" id="entertainment">
        <h1>Entertainment</h1>
      </div>
      {{macro.sourceCategories(entertainment)}}
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 cat" id="science">
        <h1>Science</h1>
      </div>
      {{macro.sourceCategories(science)}}
    </div>
  </div>
</div>

<div class="footer">
  <h3> Get To Know More About Us! </h3>
  <div class="top">
    <div class="text2">
      <div class="box1">
        <h1> CENTRE OF ALL THAT IS GOING AROUND THE WORLD </h1>
      </div>

      <p>
        Designed and built with all the love in the world by the feedback team
        with the help of our contributors. Code licensed MIT, docs CC BY 3.0.
        Currently v5.0.2.
      </p>
    </div>
    <table class="table table-transparent table-borderless">
      <thead>
        <tr>
          <th scope="col">links</th>
          <th scope="col">projects</th>
          <th scope="col">guides</th>
          <th scope="col">community</th>
          <th scope="col">contacts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">home</td>
          <td>geting started</td>
          <td>repositories</td>
          <td>issues</td>
          <td>facebook</td>
        </tr>
        <tr>
          <td scope="row">docs</td>
          <td>Starter template</td>
          <td>profile pic</td>
          <td>discusion</td>
          <td>whatsapp</td>
        </tr>
        <tr>
          <td scope="row">docs</td>
          <td>Starter template</td>
          <td>profile pic</td>
          <td>discusion</td>
          <td>linkedIn</td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td colspan="2"></td>

          <td>@twitter</td>
          <td>instagram</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
